#header {
    background: #596364;
    color: white;
}

div.breadcrumbs {
    background: rgba(123, 138, 139, 1);
    padding: 10px 40px;
    border: none;
    color: black;
    text-align: left;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #2c3e50;
    color: var(--header-link-color);
}
