{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
     <div class="card mt-5">
         <div class="card-body">
             <div class="card-title">
                 <h4>Register For A free Account</h4>
             </div>
             <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {% include 'partial/_messages.html' %}
                 <div class="form-group">
                     <input type="text" name="username" placeholder="Username" id="usernameField" 
                     class="form-control form-control-sm mt-3"
                     value="{{fieldValues.username}}">
                 </div>
                 <div class="invalid-feedback" style="display: none;">
                     <p></p>
                 </div>
                 <p class="text-sm text-success usernameSuccess"></p>
                 <div class="form-group">
                     <input type="email" name="email" placeholder="Email" id="emailField" 
                     class="form-control form-control-sm mt-3"
                     value="{{fieldValues.email}}">
                 </div>
                 <div class="emailfeedbackArea" style="display: none;">
                     <p></p>
                 </div>
                 <p class="text-sm text-success emailSuccess"></p>
                 <div class="form-group">
                     <input type="password" name="password" placeholder="Password"  class="form-control form-control-sm mt-2" id="passwordField">
                     <small class="text-end btn btn-block d-block text-primary mt-3 showPasswordToggle">SHOW</small>
                 </div>
                 
                 <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn mt-2 form-control" />
                  </div>
                 
             </form>    
             <div class="form-group d-flex justify-content-end">
                <span class="form-control-sm">Already have an account?
                  <a href="{% url 'login' %}">Login</a>
                </span>
              </div>
         </div>
     </div>
    </div>
    <div class="col-md-4"></div>
 </div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}